<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Логи задач</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <span class="burger" id="burger" onclick="toggleMenu()">
            <svg fill="rgb(255, 0, 0)" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="m194.655 128-119.1682 119.168-14.1421-14.142 105.0263-105.026-105.0263-105.0263 14.1421-14.14216z" fill="#bfbfbf" fill-rule="evenodd"/>
            </svg>
        </span>
        <ul id="nav-links">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
        <ul class="menu-items" id="menu-items">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1>Логи задач</h1>
    <table>
        <thead>
        <tr>
            <th>Пользователь</th>
            <th>Действие</th>
            <th>ID задачи</th>
            <th>Время</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <td th:text="${log.username}"></td>
            <td th:text="${log.action}"></td>
            <td th:text="${log.taskId}"></td>
            <td th:text="${#temporals.format(log.timestamp, 'dd-MM-yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>