<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Управление пользователями</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <span class="burger" id="burger" onclick="toggleMenu()">
            <svg fill="rgb(255, 255, 255)" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M194.655 128L75.487 247.168 61.345 233.026 166.371 128 61.345 22.974 75.487 8.832 194.655 128z" fill-rule="evenodd"/>
            </svg>
        </span>
        <ul id="nav-links">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
        <div class="menu-items" id="menu-items">
            <a th:href="@{/profile}">Профиль</a>
            <a th:href="@{/tasks/list}">Задачи</a>
            <a th:href="@{/tasks/add}">Добавить</a>
            <a th:href="@{/test}">Тест</a>
            <a th:href="@{/admin/users}">Управление</a>
            <a th:href="@{/logout}">Выйти</a>
        </div>
    </nav>
</header>
<div class="container">
    <h1>Управление пользователями</h1>
    <a class="btn" th:href="@{/admin/logs}">Логи</a>
    <table>
        <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Роль</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Имя пользователя</td>
            <td th:text="${user.role}">Роль</td>
            <td>
                <form th:action="@{/admin/users/role}" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}" />
                    <select name="role">
                        <option th:each="role : ${T(com.example.train.entity.RoleName).values()}"
                                th:value="${role}"
                                th:text="${role}"
                                th:selected="${role} == ${user.role}">
                        </option>
                    </select>
                    <button type="submit" class="btn">Изменить роль</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    function toggleMenu() {
        var menuItems = document.getElementById('menu-items');
        var burger = document.getElementById('burger');
        menuItems.classList.toggle('active');
        burger.classList.toggle('active');
    }
</script>
</body>
</html>