
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #5b81c3;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    width: 11vw;
}

nav ul li a {
    font-size: 90%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #7b9acd;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


.label_main{
    margin-top: 1vw;
    background-color: #c8c8c8ad;
    height: 2vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px;
}


input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input.inputlog {
    width: 400px;
}

.logform {
    display: flex;
    justify-content: center;
    margin: 3vw;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5b81c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #7b9acd;
}

.btn-red {
    margin-top: 20px;
    background-color: #f44336;
}

.btn-red:hover {
    background-color: #d32f2f;
}

.results-list {
    list-style: none;
    padding: 0;
}

.result-item {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.result-item p {
    margin: 5px 0;
}

.answer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.answer-block {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.highlight-green {
    color: green;
}

.highlight-red {
    color: #8b0524;
}

.error-message {
    color: red;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.info-section {
    margin-bottom: 20px;
}

.info-text {
    font-size: 18px;
    margin-top: 5px;
    padding-left: 11px;
}

.info-ul{
    font-size:18px;
}

.category-link {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    transition: background-color 0.3s ease;
}

.category-link:hover {
    background-color: #d5d5d5;
}

.task-list {
    margin-top: 10px;
    padding-left: 20px;
}

.task-list li {
    margin-bottom: 10px;
}

.task-link {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.task-link:hover {
    color: #5b81c3;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none; /* Отключить изменение размера */
}

.question-text {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ql-editor img {
    max-width: 100%;
    height: auto;
}

/* Бургер-меню стили */
.burger {
    display: none;
    cursor: pointer;

}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

.menu-items {
    display: none;
}

.form-group{
    padding: 10px 0 10px 0;
}

ul {
    margin:0;
    padding-inline-start: 0;
}

.btn_remove_check{
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    position: absolute;
    background: none;
    border: none;
    border: 1px solid #141212;
    display: flex;
    padding: 10px 20px;
    font-size: 38%;
    color: #fff;
    background-color: #9f4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    right: 0vw;
    top: 0;
}

.btn_add_check{
    background: none;
    border: none;
    border: 1px solid #141212;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #5b81c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.list_tests_radio{
    display: flex;
    border: 1px solid #5b6297;
    height: 60px;
    width: 92%;
    position: relative;
    border-radius: 10px;
    margin: 14px;
    justify-content: center;
    align-items: center;
}

.correct_option_test{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.correct_option_test {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.correct_option_test+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.correct_option_test+label::before {
    font-size: 87%;
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #141212;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-right: 0.5em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;

}
.correct_option_test:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.correct_option_test:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.correct_option_test:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.correct_option_test:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
.correct_option_test:checked+label::before {
    background-color: #3ba12f61;
}
.correct_option_test:disabled+label::before {
    background-color: #e9ecef;
}

.correct-option{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.correct-option+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.correct-option+label::before {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 38%;
    z-index: 0;
    top: 0;
    right: 40px;
    position: absolute;
    content: 'Правильный ответ';
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #141212;
    color: #fff;
    font-weight: 500;
    background-color: #5b81c3;
    border: none;
    border-radius: 5px;
    margin-right: 0.5em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.correct-option:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.correct-option:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.correct-option:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.correct-option:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
.correct-option:checked+label::before {
    border-color: #335aa1;
    background-color: #1f7339;
}
.correct-option:disabled+label::before {
    background-color: #e9ecef;
}

.option-item{
    position:relative;
}

@media (max-width: 768px) {
    header {
        background-color: #fff;
        height: 10px;
    }

    .container {
        padding: 10px;
        width: 88vw;
    }

    form {
        padding: 10px;
    }

    form input.inputlog {
        width: 76vw;
    }



    nav ul {
        display: none;
    }

    nav ul li{
        display: flex;
        border: 1px solid #224f8f;
        margin: 10px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        background: -webkit-linear-gradient(45deg, rgb(246, 246, 246) 76%, rgb(253, 253, 253) 100%);
        background: -moz-linear-gradient(45deg, rgb(246, 246, 246) 76%, rgb(253, 253, 253) 100%);
        background: linear-gradient(45deg, rgb(246, 246, 246) 76%, rgb(253, 253, 253) 100%);
    }

    nav ul li:hover{
        -webkit-box-shadow: 4px 4px 8px 0px rgba(58, 126, 178, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(58, 126, 178, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(58, 126, 178, 0.2);
    }

    nav ul li a:hover{
        background:none;
    }

    .burger {
        z-index: 100;
        position: fixed;
        bottom: 0%;
        right: 5.7vw;
        height: 40px;
        width: 40px;
        display: flex;
        transition: transform 0.3s ease;
    }

    .burger svg{
        transform:rotate(90deg);
        transition: all 0.3s ease;
    }

    .menu-items {
        position: fixed;
        right: 0;
        height: 90vh;
        width: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(110%);
        transition: transform 0.3s ease;
    }
    .correct-answer {
        color: green;
        font-weight: bold;
    }
    .menu-items.active {
        transform: translateY(0);
    }

    .menu-items a {

        display: block;
        text-align: center;
        color: #224f8f;
        text-decoration: none;
        font-weight: bold;
        font-size: 82%;
        transition: background-color 0.3s ease;
    }

    .burger.active svg{
        transform:rotate(-90deg)
    }
}
