<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Доступ запрещен</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Все задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить задачу</a></li>
            <li><a th:href="@{/test}">Начать тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление пользователями</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1 class="h1_main">Доступ запрещен</h1>
    <p>У вас нет прав для добавления задач. Пожалуйста, обратитесь к администратору.</p>
</div>
</body>
</html>