<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вопросы закончились</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <nav>
        <span class="burger" id="burger" onclick="toggleMenu()">
            <svg fill="rgb(255, 0, 0)" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="m194.655 128-119.1682 119.168-14.1421-14.142 105.0263-105.026-105.0263-105.0263 14.1421-14.14216z" fill="#bfbfbf" fill-rule="evenodd"/>
            </svg>
        </span>
        <ul id="nav-links">
            <li><a th:href="@{/}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
        <ul class="menu-items" id="menu-items">
            <li><a th:href="@{/}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1>Вопросы закончились</h1>
    <p>На данный момент нет доступных вопросов для выбранной категории и типа.</p>
    <div class="button-container">
        <a class="btn" th:href="@{/tasks/add}"> Добавить задачу </a>
        <a class="btn" th:href="@{/test}">Вернуться к настройкам теста</a>
    </div>
</div>
<script>
    function toggleMenu() {
        var menuItems = document.getElementById('menu-items');
        var burger = document.getElementById('burger');
        menuItems.classList.toggle('active');
        burger.classList.toggle('active');
    }
</script>
</body>
</html>