<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>Информация о задаче</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a th:href="@{/}">Профиль</a></li>
      <li><a th:href="@{/tasks/list}">Все задачи</a></li>
      <li><a th:href="@{/tasks/add}">Добавить задачу</a></li>
      <li><a th:href="@{/test}">Начать тест</a></li>
      <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <a th:href="@{/admin/users}">Управление пользователями</a>
      </li>
      <li><a th:href="@{/logout}">Выйти</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <h1 class="h1_main">Информация о задаче</h1>
  <div class="button-container">
    <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post">
      <button type="submit" class="btn btn-red">Удалить задачу</button>
    </form>
  </div>
  <div class="info-section">
    <label class="label_main" for="category">Категория:</label>
    <p th:text="${task.category.getDisplayName()}" id="category" class="info-text"></p>
  </div>
  <div class="info-section">
    <label class="label_main" for="question">Вопрос:</label>
    <p th:text="${task.question}" id="question" class="info-text"></p>
  </div>
  <div class="info-section">
    <label class="label_main" for="answer">Ответ:</label>
    <p th:text="${task.answer}" id="answer" class="info-text"></p>
  </div>
  <div class="info-section">
    <label class="label_main" for="theoryText">Теория:</label>
    <div id="theoryText" th:utext="${task.theory}" class="info-text ql-editor"></div>
  </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</body>
</html>