<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Список всех задач</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <span class="burger" id="burger" onclick="toggleMenu()">
            <svg fill="rgb(255, 0, 0)" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m194.655 128-119.1682 119.168-14.1421-14.142 105.0263-105.026-105.0263-105.0263 14.1421-14.14216z" fill="#bfbfbf" fill-rule="evenodd"/></svg>
        </span>
        <ul id="nav-links">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
        <ul class="menu-items" id="menu-items">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>Й
        </ul>
    </nav>
</header>
<div class="container">

    <h1 class="h1_main">Список всех задач</h1>
    <div class="search_contain">
        <div class="search-bar">
            <form th:action="@{/tasks/search}" method="get">
                <input type="text" name="search" placeholder="Поиск по задачам" />
                <button type="submit" class="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30" height="30">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                    </svg>
                </button>
                <span class="filter-icon" onclick="toggleFilters()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                    <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                </svg>
            </span>
                <div class="filters">
                    <select name="category">
                        <option value="">Все категории</option>
                        <option th:each="cat : ${T(com.example.train.entity.CategoryNames).values()}"
                                th:value="${cat}" th:text="${cat.getDisplayName()}">
                        </option>
                    </select>
                    <select name="questionType">
                        <option value="">Все типы</option>
                        <option value="multipleChoice">Выбор из вариантов</option>
                        <option value="text">Текстовый ответ</option>
                    </select>
                    <button type="submit" class="btn">Применить фильтры</button>
                </div>
            </form>
        </div>

    </div>
    <div th:if="${#lists.isEmpty(tasks)}">
        <p>Задач не найдено.</p>
    </div>
    <div th:unless="${#lists.isEmpty(tasks)}">
        <div th:each="cat : ${T(com.example.train.entity.CategoryNames).values()}">
            <h2 class="category-link" data-category="${cat.name()}">
                <span th:text="${cat.getDisplayName()}"></span>
            </h2>
            <ul class="task-list" style="display:none" data-category="${cat.name()}">
                <li th:each="task : ${tasks}" th:if="${task.category == cat}">
                    <p><a th:href="@{/tasks/{id}(id=${task.id})}" class="task-link">
                        <span th:text="${task.question}"></span>
                    </a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function toggleFilters() {
        var filters = document.querySelector('.filters');
        filters.classList.toggle('active');
    }
    window.onload = function() {
        const buttons = document.querySelectorAll('.category-link');
        buttons.forEach((button) => {
            button.addEventListener('click', function () {
                var taskList = this.nextElementSibling;
                if (taskList.style.display == 'none') {
                    taskList.style.display = 'block';
                } else {
                    taskList.style.display = 'none';
                }
            });
        });
    }

    function toggleMenu() {
        var menuItems = document.getElementById('menu-items');
        var burger = document.getElementById('burger');
        menuItems.classList.toggle('active');
        burger.classList.toggle('active');
    }
</script>
</body>
</html>