<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Список всех задач</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav>
        <span class="burger" id="burger" onclick="toggleMenu()">
        </span>
        <ul id="nav-links">
            <li><a th:href="@{/}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
        <ul class="menu-items" id="menu-items">
            <li><a th:href="@{/}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1 class="h1_main">Cписок всех задач</h1>
    <div th:if="${#lists.isEmpty(tasks)}">
        <p>Задач не найдено.</p>
    </div>
    <div th:unless="${#lists.isEmpty(tasks)}">
        <div th:each="cat : ${T(com.example.train.entity.CategoryNames).values()}">
            <h2 class="category-link" data-category="${cat.name()}">
                <span th:text="${cat.getDisplayName()}"></span>
            </h2>
            <ul class="task-list" style="display:none" data-category="${cat.name()}">
                <li th:each="task : ${tasks}" th:if="${task.category == cat}">
                    <p><a th:href="@{/tasks/{id}(id=${task.id})}" class="task-link">
                        <span th:text="${task.question}"></span>
                    </a></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
        const buttons = document.querySelectorAll('.category-link');
        buttons.forEach((button)=>{
            button.addEventListener('click', function () {
                var taskList = this.nextElementSibling;
                if (taskList.style.display == 'none') {
                    taskList.style.display = 'block';
                } else {
                    taskList.style.display = 'none';
                }
            });
        })
    }
    function toggleMenu() {
        var navLinks = document.getElementById('nav-links');
        navLinks.classList.toggle('active');
    }
</script>
</body>
</html>