<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Результаты Теста</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <nav>
        <span class="burger" id="burger" onclick="toggleMenu()">
            <svg fill="rgb(255, 0, 0)" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m194.655 128-119.1682 119.168-14.1421-14.142 105.0263-105.026-105.0263-105.0263 14.1421-14.14216z" fill="#bfbfbf" fill-rule="evenodd"/></svg>
        </span>
        <ul id="nav-links">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a>
            </li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
        <ul class="menu-items" id="menu-items">
            <li><a th:href="@{/profile}">Профиль</a></li>
            <li><a th:href="@{/tasks/list}">Задачи</a></li>
            <li><a th:href="@{/tasks/add}">Добавить</a></li>
            <li><a th:href="@{/test}">Тест</a></li>
            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a th:href="@{/admin/users}">Управление</a></li>
            <li><a th:href="@{/logout}">Выйти</a></li>
        </ul>
    </nav>
</header>
<body>
<div class="container">
    <h1 class="h1_main">Результаты Теста</h1>
    <p>Всего правильных ответов: <span th:text="${correctCount}"></span> из <span th:text="${totalQuestions}"></span></p>
    <h2>Более подробно</h2>
    <ul class="results-list">
        <li th:each="answerInfo : ${userAnswers}" class="result-item" data-task-id="${answerInfo['taskId']}">
            <p><strong>Вопрос:</strong> <span th:text="${answerInfo['question']}"></span></p>
            <p><strong>Совпадение с правильным ответом:</strong> <span th:text="${#numbers.formatDecimal(answerInfo['similarity'], 1, 2)} + '%'"></span></p>
            <div class="answer-container">
                <div class="answer-block correct-answer">
                    <p><strong>Правильный ответ:</strong></p>
                    <th:block th:if="${answerInfo['task'].isMultipleChoice}">
                        <ul>
                            <li th:each="option : ${answerInfo['optionsInfo']}"
                                th:text="${option.text}"
                                th:style="${option.isCorrect ? 'color: green;' : ''}">
                            </li>
                        </ul>
                    </th:block>
                    <p th:unless="${answerInfo['task'].isMultipleChoice}" th:utext="${answerInfo['highlightedCorrectAnswer']}"></p>
                </div>
                <div class="answer-block user-answer">
                    <p><strong>Твой ответ:</strong></p>
                    <th:block th:if="${answerInfo['task'].isMultipleChoice}">
                        <ul>
                            <li th:each="option : ${answerInfo['optionsInfo']}"
                                th:text="${option.text}"
                                th:style="${option.isSelected ? (option.isCorrect ? 'color: green;' : 'color: red;') : ''}">
                            </li>
                        </ul>
                    </th:block>
                    <p th:unless="${answerInfo['task'].isMultipleChoice}" th:utext="${answerInfo['highlightedUserAnswer']}"></p>
                </div>
            </div>
            <p><strong>Ссылка на задачу с теорией:</strong> <a th:href="@{/tasks/{id}(id=${answerInfo['taskId']})}" th:text="${answerInfo['question']}"></a></p>
            <hr/>
        </li>
    </ul>
    <a class="btn" th:href="@{/test}">Начать новый тест</a>
</div>
<script>
    function toggleMenu() {
        var menuItems = document.getElementById('menu-items');
        var burger = document.getElementById('burger');
        menuItems.classList.toggle('active');
        burger.classList.toggle('active');
    }
</script>
</body>
</html>